<i class="fas fa-hamburger"></i>
<h1>Eat Da Burger!</h1>

<h2>Burgers</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
        <li>
	        {{burger_name}}
	    
            <button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
        </li>
    {{/unless}}
{{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
        <li>
            {{burger_name}}
        </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
  <button type="submit" id="submit-btn">Add Burger</button>
</form>

<script>
  $("#submit-btn").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    //event.preventDefault();

    let newBurgerName = $("#burg").val().trim()

    let newBurger = {
      burger_name: newBurgerName,
      //devoured: false
    };
    console.log(newBurger);

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devour-burger").on("click", function(event) {
    let id = $(this).data("id");
    let newState = $(this).data("devoured");

    let newBurgerState = {
      devoured: newState
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newBurgerState
    }).then(
      function() {
        console.log("devoured burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>