body {
    background-image: url("../img/restaurant.jpg");
    background-color: rgba(95, 86, 86, 0.034);
    display: flex;
    flex-direction: column;
}

img {
    height: 200px;
    width: auto;
}

.container {
    text-align: center;
    background-color: none;
    width: 70%;
}

ul {
    text-align: center;
    list-style: inside;
}

.devour-burger {
    border: 20px;
    border-color: black;
}

h1.title {
    padding: 20px;
}

h2 {
    padding: 10px;
}